html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: 40px auto;
  background-color: rgba(137, 176, 223);
}

.column-container {
  display: flex;
}

.column-1 {
  background-color: #fff;
  flex: 50%;
  padding: 30px 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  justify-content: center;
}

.column-1 h2 {
  color: rgb(38, 84, 157);
}

.column-1 input {
  border-bottom: 0.2px solid rgb(128, 127, 131);
}

input {
  margin-top: 10px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.column-1 select {
  width: 100%;
  margin-top: 30px;
  border: 0;
  border-bottom: 0.2px solid rgb(128, 127, 131);
}

.one-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.first-name,
.zip-code,
.code {
  margin-right: 30px;
}

.column-2 {
  background-color: rgb(58, 58, 193);
  flex: 50%;
  padding: 30px;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.column-2 input {
  background-color: rgb(58, 58, 193);
  color: #fff;
  border-bottom: 0.2px solid #fff;
  width: 100%;
}

.column-2 select {
  background-color: rgb(58, 58, 193);
  color: #fff;
  width: 100%;
  margin-top: 20px;
  border: 0;
  border-bottom: 0.2px solid #fff;
}

.column-2 ::placeholder {
  color: #fff;
}

#place,
#country,
#position {
  padding-bottom: 10px;
}

.terms-condition {
  display: flex;
  align-items: flex-end;
  padding-top: 20px;
}

.checkbox {
  padding-right: 30px;
}

button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  border: 0;
}
